<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleDisplayName</key>
    <string>PISCOU, COPIOU</string>
    <key>CFBundleExecutable</key>
    <string>PISCOU, COPIOU</string>
    <key>CFBundleIdentifier</key>
    <string>salon.das.piscoucopiou</string>
    <key>CFBundleName</key>
    <string>PISCOU, COPIOU</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSDesktopFolderUsageDescription</key>
    <string>O PISCOU, COPIOU precisa ler arquivos novos das pastas escolhidas para copiá-los intactos para TRANSFER MAC M3 14.</string>
</dict>
</plist>
